.text-secondary {
    color: #404040 !important;
    font-size: 20px;
}
.thumbnail-container{
    position: relative;
}
.badge {
    position: absolute;
    right: 0.65rem;
    bottom: 0.8rem;
    color: #fff;
    font-size: 0.875rem;
    padding: 0 0.3rem;
    border-radius: 0.3rem;
    /* top: 75% !important;
    font-size: 20px; */
}
